<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom styles -->
    <link rel="stylesheet" href="~/Content/magister.css">
    <link rel="shortcut icon" href="~/Content/images/gt_favicon.png">
    <!-- Fonts -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>


</head>
<body class="theme-invert">






    @RenderBody()


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <!-- Load js libs only when the page is loaded. -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="~/Scripts/js/modernizr.custom.72241.js"></script>
    <!-- Custom template scripts -->
    <script src="~/Scripts/js/magister.js"></script>
</body>
</html>
